/* Track (background) */
::-webkit-scrollbar {
  width: 12px;
}

/* Handle (thumb) */
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: red;
}

/* Track (background) on hover */
::-webkit-scrollbar-track:hover {
  background: #eee;
}

/* Button (arrows) */
::-webkit-scrollbar-button {
  display: none; /* Hide scrollbar arrows */
}
