.star-wars {
  display: flex;
  justify-content: center;
  color: #feda4a;
  font-family: "Pathway Gothic One", sans-serif;
  font-weight: 600;
  letter-spacing: 3px;
  line-height: 200%;
  text-align: justify;
}

.star-wars p {
  width: 65vw;
  font-size: 1.5rem;
}

.title {
  font-size: 2rem;
  font-weight: bolder;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 150%;
  animation: fadeIn 1s ease;
}

.star-destroyer {
  position: absolute;
  top: 20%;
  left: -100px;
  width: 100px;
  height: auto;
  animation: stardestroyer 100s linear infinite;
  z-index: 2;
}
.star-destroyer2 {
  position: absolute;
  top: 90%;
  right: -100px;
  width: 100px;
  height: auto;
  animation: stardestroyer2 70s linear infinite;
  z-index: 2;
  transform: rotateY(180deg);
}

@keyframes stardestroyer {
  0% {
    left: -100px;
  }
  100% {
    left: calc(100% + 100px);
  }
}

@keyframes stardestroyer2 {
  0% {
    right: -100px;
  }
  100% {
    right: calc(100% + 100px);
  }
}

@media (max-width: 980px) {
  .star-wars {
    margin-bottom: 40px;
  }
}

@media (max-width: 780px) {
  .star-wars {
    letter-spacing: 2px;
  }
}
@media (max-width: 680px) {
  .star-wars {
    line-height: 200%;
    letter-spacing: 1px;
  }
  .title {
    line-height: 150%;
  }
}
@media (max-width: 580px) {
  .title-h {
    font-size: 2.1rem;
  }
  .title-p {
    font-size: 2.1rem;
  }

  .star-wars p {
    font-size: 1.2rem;
  }
}
@media (max-width: 480px) {
  .star-wars {
    line-height: 200%;
  }

  .title-h {
    font-size: 2rem;
  }
  .title-p {
    font-size: 2rem;
  }

  .star-wars p {
    font-size: 1.1rem;
  }
}
@media (max-width: 450px) {
  .star-wars {
    line-height: 150%;
  }
  .title-h {
    font-size: 1.5rem;
  }
  .title-p {
    font-size: 1.5rem;
  }

  .star-wars p {
    font-size: 0.8rem;
  }
}
@media (max-width: 340px) {
  .star-wars {
    line-height: 150%;
  }
  .title-h {
    font-size: 1.3rem;
  }
  .title-p {
    font-size: 1.3rem;
  }

  .star-wars p {
    font-size: 0.7rem;
  }
}
