.star-wars {
  display: flex;
  justify-content: center;
  color: #feda4a;
  font-family: "Pathway Gothic One", sans-serif;
  font-weight: 600;
  letter-spacing: 3px;
  line-height: 200%;
  text-align: justify;
}

.star-wars p {
  width: 65vw;
  font-size: 1.5rem;
}

.title {
  font-size: 2rem;
  font-weight: bolder;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 150%;
  animation: fadeIn 1s ease;
}

.star-destroyer {
  position: absolute;
  top: 20%;
  left: -100px;
  width: 100px;
  height: auto;
  animation: stardestroyer 100s linear infinite;
  z-index: 2;
}
.star-destroyer2 {
  position: absolute;
  top: 90%;
  right: -100px;
  width: 100px;
  height: auto;
  animation: stardestroyer2 70s linear infinite;
  z-index: 2;
  transform: rotateY(180deg);
}

@keyframes stardestroyer {
  0% {
    left: -100px;
  }
  100% {
    left: calc(100% + 100px);
  }
}

@keyframes stardestroyer2 {
  0% {
    right: -100px;
  }
  100% {
    right: calc(100% + 100px);
  }
}
